/* ================================

Timeline Mobile

==================================*/

.timeline-mobile{
	// hide on MD and up
	@include bp(md){
		display:none;
		visibility:hidden;
	}

	/* --------------
	main list
	----------------*/
	margin-left:0;
	list-style:none;

	/* --------------
	li
	----------------*/
	&__item{

	}

	/* --------------
	header
	----------------*/
	&__item-header{
		margin-bottom:1em;
	}
	&__item-header-h2{
		text-align:center;
	}

	/* --------------
	li
	----------------*/
	&__item-img{
		display:block;
		max-width:275px;
		margin:0 auto 15px;
	}

	/* --------------
	description
	----------------*/
	&__item-description{
	}

	/* --------------
	button
	----------------*/
	&__item-button-wrapper{
		text-align:right;
		margin-bottom:2em;

		@media screen and (min-width:30em){
			text-align:center;
		}
	}
	&__item-button{
		@include button;
	}
}