
/* ================================

Timeline MD+

==================================*/
// hide stuff before md
.timeline-4up,
.timeline-4up__description{
	display:none;
	visibility:hidden;
}

.timeline-4up{
	display:none;
	visibility:hidden;

	// MD+ only
	@include bp(md){
		@include reset-box-sizing-all;

		/* --------------
		timeline-4up main list
		---------------- */
		@include flex(center,flex-start);
		visibility:visible;
		background:#f8f8f8;
		position:relative;
		margin-left:0;
		margin-bottom:2em;
		list-style:none;
		box-shadow: $box-shadow-timeline;

		/* --------------
		start/end header
		----------------*/
		&__header{
			@include flex;
			font-family:QuicksandBold, sans-serif;
			text-transform:uppercase;
			margin-bottom:.5em;
			color:$color-2;
		}
		&__header-start{
			margin-right:auto;
			padding-left:1em;
		}
		&__header-end{
			margin-left:auto;
			padding-right:1em;
		}

		/* --------------
		li
		----------------*/
		&__item{
			position:relative;
			z-index:10;
			height:100%;
			width:25%;

			&::before{
				@include absolute(null,0,null,0);
				display:block;
				content:"";
				width:100%;
				height:4px;
				background:$color-timeline-header;
				opacity:0;
			}
		}

		/* --------------
		decoration lis
		----------------*/
		&__decoration-bg{
			@include absolute(0,0);
			transform-origin:0 0;
			z-index:1;
			height:100%;
			width:25%;
			transform:translateZ(0);
			transition:$transition-3 .1s;
		}
		&__background{
			@include absolute(0,0);
			display:inline-block;
			z-index:2;
			width:100%;
			height:100%;

			svg{
				padding-top:3em;
				width:100%;
				height:auto;
			}

			#phase1,
			#phase2,
			#phase3,
			#phase4{
				transform:translateY(0);
				opacity:.5;
				transition:$transition-1 .3s;
			}
		}

		/* --------------
		header
		----------------*/
		&__item-header{
			display:block;
			width:100%;
			min-height:270px;
		}
		&__item-header-h2{
			padding:1em 1em;
			text-align:center;
			font-size: 1em;
			text-transform: uppercase;
			background:$color-card-overlay;
			color:$color-timeline-header;
		}

		/* --------------
		footer
		----------------*/
		&__item-footer{
			align-self:flex-end;
			display:block;
			width:100%;
		}
		&__item-footer-h2{
			padding:1em 1em;
			text-align:center;
			font-size: 1em;
			line-height:1.2;
			text-transform: uppercase;
			min-height:58px;
			color:$color-timeline-header;
			background:$color-card-overlay
		}

		/* --------------
		description ul
		----------------*/
		&__description{
			list-style:none;
			margin-left:0;
			position:relative;
			min-height:150px;
			display:block;
			visibility:visible
		}

		/* --------------
		description li item flex-parent
		----------------*/
		&__description-item{
			@include absolute(0,0);
			@include flex(center,stretch);
			list-style:none;
			margin-left:0;
			width:100%;
			visibility:hidden;
			
			// color variations for flex children cards
			&--one{
				.timeline-4up__description-wrapper{
					background:$color-timeline-card-1
				}
			}
			&--two{
				.timeline-4up__description-wrapper{
					background:$color-timeline-card-2
				}
			}
			&--three{
				.timeline-4up__description-wrapper{
					background:$color-timeline-card-3
				}
			}
			&--four{
				.timeline-4up__description-wrapper{
					background:$color-timeline-card-4
				}
			}
		}

		/* --------------
		description flex-children cards
		----------------*/
		&__description-wrapper{
			padding:1.5em;
			width:calc(33.33334% - 1.33334em);
			box-shadow: $box-shadow-description-cards;
			transform:translateY(3em);
			opacity:0;

			&:nth-child(2){
				margin:0 2em;
			}
		}


		/* --------------
		description header
		----------------*/
		&__description-header{
			padding-bottom:.5em;
			margin-bottom:1em;
			border-bottom:2px solid $color-description-card-text;

			// icon variations for card headers
			&--purpose{
				.timeline-4up__description-header-h2::before{
					background-image:url('/files/icon-purpose.png');
					background-image:url('/files/icon-purpose.svg');
				}
			}
			&--products{
				.timeline-4up__description-header-h2::before{
					background-image:url('/files/icon-products.png');
					background-image:url('/files/icon-products.svg');
				}
			}
			&--yourvoice{
				.timeline-4up__description-header-h2::before{
					background-image:url('/files/icon-yourvoice.png');
					background-image:url('/files/icon-yourvoice.svg');
				}
			}
		}
		&__description-header-h2{
			@include reset-box-sizing;
			display:inline-block;
			vertical-align:middle;
			line-height:1.2;
			color:$color-description-card-text;
			width:100%;

			&::before{
				content:"";
				display:inline-block;
				width:18px;
				height:18px;
				background-position:50%;
				background-color:transparent;
				background-repeat:no-repeat;
				background-size:cover;
				margin-right:.5em;
			}
		}

		/* --------------
		description text
		----------------*/
		&__description-text{
			color:$color-description-card-text;
		}

		/* --------------
		interactions
		----------------*/
		// hover
		&__decoration-bg{
			&:hover{
				cursor:pointer !important;
				transform:translateZ(0);
			}
		}
		&__item{
			&:hover{
				background:rgba(black,.05);
				transition: background $transition-3 .1s;
				cursor:pointer !important;
			}

			@include timelineitemactiveinteraction(one,1,$color-timeline-1);			
			@include timelineitemactiveinteraction(two,2,$color-timeline-2);			
			@include timelineitemactiveinteraction(three,3,$color-timeline-3);			
			@include timelineitemactiveinteraction(four,4,$color-timeline-4)

			&--one{
				&:hover ~ .timeline-4up__background{
					#phase1{
						opacity:1;
					}
				}
			}
			&--two{
				&:hover ~ .timeline-4up__background{
					#phase2{
						opacity:1;
					}
				}
			}
			&--three{
				&:hover ~ .timeline-4up__background{
					#phase3{
						opacity:1;
					}
				}
			}
			&--four{
				&:hover ~ .timeline-4up__background{
					#phase4{
						opacity:1;
					}
				}
			}
		}


		// click js active
		&__item{
			&.js-active{
				&::before{
					opacity:.5;
					transition:$transition-3;
				}
			}

			&--one.js-active{
				~ .timeline-4up__background{
					#phase1{
						opacity:1;
						transform:translateY(-2em)
					}
				}
			}
			&--two.js-active{
				~ .timeline-4up__background{
					#phase2{
						opacity:1;
						transform:translateY(-2em)
					}
				}
			}
			&--three.js-active{
				~ .timeline-4up__background{
					#phase3{
						opacity:1;
						transform:translateY(-2em)
					}
				}
			}
			&--four.js-active{
				~ .timeline-4up__background{
					#phase4{
						opacity:1;
						transform:translateY(-2em)
					}
				}
			}
		}
		&__description-item{
			&.js-active{
				opacity:1;
				visibility:visible;

				.timeline-4up__description-wrapper{
					transform:translateY(0);
					opacity:1;

					&--purpose{
						transition:$transition-3 .5s;
					}
					&--products{
						transition:$transition-3 .8s;
					}
					&--yourvoice{
						transition:$transition-3 1.1s;
					}
				}
			}
		}	
	}

	// LG only
	@include bp(lg){
		&__background{
			svg{
				padding-top:0;
			}
		}
	}
}