/* ================================

Maui County Vars

==================================*/

// colors
$color-1:#29accd;
$color-2:green;
$color-timeline-1:#ab47bc;
$color-timeline-2:#26c6da;
$color-timeline-3:#9ccc65;
$color-timeline-4:#ffca28;

// transitions
$transition-1:.2s ease;
$transition-2:.3s ease;
$transition-3:.5s ease;
$transition-4:1s ease;

// box shadows
$box-shadow-description-cards: 0 6px 4px -3px rgba(black,.2);