/* ================================

Maui County Vars

==================================*/

// colors
$color-1:#29accd;
$color-2:green;
$color-timeline-1:rgba(#ab47bc,.75);
$color-timeline-2:rgba(#26c6da,.75);
$color-timeline-3:rgba(#9ccc65,.75);
$color-timeline-4:rgba(#ffca28,.75);

// transitions
$transition-1:.2s ease;
$transition-2:.3s ease;
$transition-3:.5s ease;